* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.header a, .premium a {
  text-decoration: none;
  color: white;
}

.header-container {
  background-color: black;
}

.header {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.header img {
  width: 120px;
  vertical-align: middle;
}

.header ul {
  display: inline-block;
  padding-left: 60%;
}

.header li {
  display: inline-block;
  padding-left: 20px;
  font-size: 15px;
  text-align: right;
  font-weight: bold;
}

.premium {
  background-color: rgb(29, 117, 222);
  color: white;
  padding: 75px 140px;
}

.premium h1, .premium h2 {
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.premium h1 {
  font-size: 40px;
}

.premium h2 {
  font-weight: normal;
  font-size: 20px;
}

.premium p {
  padding-top: 20px;
  font-size: 10px;
}

.premium-buttons {
  display: inline-block;
}

.comece-agora {
  border: 1px solid black;
  background-color: black;
  padding: 15px 30px;
  border-radius: 100px;
  font-size: 14px;
  margin-right: 7px;
}

.comece-agora:hover, .ver-planos:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.ver-planos {
  border: 2px solid white;
  padding: 15px 30px;
  border-radius: 100px;
  font-size: 14px;
}

.why-premium {
  text-align: center;
  padding: 75px 140px;
}

.why-premium div {
  display: inline-block;
  padding: 20px;
}

.why-premium h2 {
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

.why-premium img {
  width: 140px;
  padding-bottom: 25px;
}

.why-premium h3 {
  margin-bottom: 20px;
}

.choose-plan { 
  background-color: #efefef;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 100px;
}

.choose-plan h2 {
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
  padding-bottom: 5px;
}

.choose-plan p {
  padding-bottom: 40px;
  font-size: 17px;
}

.bands {
  background-image: url('https://images.unsplash.com/photo-1611339555312-e607c8352fd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3BvdGlmeXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
  background-position: center;
  background-size: cover;
  padding: 30px;
  max-width: 450px;
  margin: 30px auto;
  border: 10px solid transparent;
  border-image: linear-gradient(45deg,red,blue) 1; 
}

.bands, .bands ol li a {
  color: white;
}

.bands li {
  list-style: none;
  text-shadow: #000 2px 3px 2px;
}

.bands h3 {
  padding-bottom: 20px;
  text-shadow: #000 2px 3px 2px;
}

.bands ol a {
  text-decoration: none;
  color: black;
}

button {
  padding: 20px 50px;
  margin: 20px;
  border-radius: 50px;
  background-color: rgb(36, 9, 172);
  border: 5px solid rgb(17, 151, 175);
}

button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

button:hover {
  background-color: brown;
}